@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  /* background-color: #d5d5db; */
  font-family: "Roboto", sans-serif;
  background-image: url(./image/a3.jpg);
}

#captchaBackground {
  height: 200px;
  width: 260px;

  display: flex;
  align-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
}

#captchaHeading {
  color: white;
}

#captcha {
  height: 80%;
  width: 80%;
  font-size: 30px;
  letter-spacing: 9px;

  display: block;
  margin-top: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 1vw;
}
.capo {
  color: #a29aea;
  font-size: 14px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submitButton {
  background-color: #08e5ff;
  border: 50px;
  padding: 3px;
  font-size: 20px;
  border-radius: 90px;
  font-weight: 500;
}
#submitButton:active {
  background: linear-gradient(90deg, #45f3ff, #d9138a);
  opacity: 0.8;
}

#refreshButton {
  background-color: #08e5ff;
  padding: 3px;
  border-radius: 90px;
  font-weight: 500;
  border: 50px;
  font-size: 20px;
  margin-left: 2vw;
}
#refreshButton:active {
  background: linear-gradient(90deg, #45f3ff, #d9138a);
  opacity: 0.8;
}

#textBox {
  margin-bottom: 2em;
  height: 45px;
  font-size: 15px;
}

.incorrectCaptcha {
  display: flex;
  align-items: center;
  color: #ff0000;
}

.correctCaptcha {
  color: #7fff00;
  display: flex;
  justify-content: center;
}
